@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol
*)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #333645;
  letter-spacing: 0.4px;
  line-height: 1.42857143;
  padding-top: 215px;
}

body::before, body::after {
  box-sizing: border-box;
}

body a {
  text-decoration: none;
  color: #333645;
}

body a:hover {
  text-decoration: underline;
  color: #333645;
}

body a:focus {
  text-decoration: underline;
  color: #333645;
}

h1,
h2,
h3 {
  font-weight: 700;
}

small {
  font-size: x-small;
}

.footer-list li {
  list-style: none;
}

.bottom-view {
  display: none;
}

.card {
  background-color: #fff;
  border: #ddd 0.2px solid;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card-img-top {
  border-radius: 0;
}

.c-1 .fa-inverse {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 30px;
  line-height: 65px;
  translate: 10px 0;
  color: #fff;
  background-color: #67809f;
}

.c-1 button {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #67809f;
  color: #fff;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
}

.c-1 button:hover, .c-1 button:focus {
  background-color: #526781;
}

.c-1 :hover {
  cursor: pointer;
  color: #fff;
  background-color: #67809f;
}

.c-1 :hover .fa-inverse {
  color: #67809f !important;
  background-color: #fff;
}

.c-1 :hover button {
  color: #67809f;
  background-color: #fff;
}

.c-2 .fa-inverse {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 30px;
  line-height: 65px;
  translate: 10px 0;
  color: #fff;
  background-color: #4183d7;
}

.c-2 button {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #4183d7;
  color: #fff;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
}

.c-2 button:hover, .c-2 button:focus {
  background-color: #286abd;
}

.c-2 :hover {
  cursor: pointer;
  color: #fff;
  background-color: #4183d7;
}

.c-2 :hover .fa-inverse {
  color: #4183d7 !important;
  background-color: #fff;
}

.c-2 :hover button {
  color: #4183d7;
  background-color: #fff;
}

.c-3 .fa-inverse {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 30px;
  line-height: 65px;
  translate: 10px 0;
  color: #fff;
  background-color: #2ecc71;
}

.c-3 button {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #2ecc71;
  color: #fff;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
}

.c-3 button:hover, .c-3 button:focus {
  background-color: #25a25a;
}

.c-3 :hover {
  cursor: pointer;
  color: #fff;
  background-color: #2ecc71;
}

.c-3 :hover .fa-inverse {
  color: #2ecc71 !important;
  background-color: #fff;
}

.c-3 :hover button {
  color: #2ecc71;
  background-color: #fff;
}

.c-4 .fa-inverse {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 30px;
  line-height: 65px;
  translate: 10px 0;
  color: #fff;
  background-color: #d64541;
}

.c-4 button {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #d64541;
  color: #fff;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
}

.c-4 button:hover, .c-4 button:focus {
  background-color: #bc2c28;
}

.c-4 :hover {
  cursor: pointer;
  color: #fff;
  background-color: #d64541;
}

.c-4 :hover .fa-inverse {
  color: #d64541 !important;
  background-color: #fff;
}

.c-4 :hover button {
  color: #d64541;
  background-color: #fff;
}

.c-5 .fa-inverse {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 30px;
  line-height: 65px;
  translate: 10px 0;
  color: #fff;
  background-color: #926fb1;
}

.c-5 button {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #926fb1;
  color: #fff;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
}

.c-5 button:hover, .c-5 button:focus {
  background-color: #79539a;
}

.c-5 :hover {
  cursor: pointer;
  color: #fff;
  background-color: #926fb1;
}

.c-5 :hover .fa-inverse {
  color: #926fb1 !important;
  background-color: #fff;
}

.c-5 :hover button {
  color: #926fb1;
  background-color: #fff;
}

.c-6 .fa-inverse {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 30px;
  line-height: 65px;
  translate: 10px 0;
  color: #fff;
  background-color: #f62459;
}

.c-6 button {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #f62459;
  color: #fff;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
}

.c-6 button:hover, .c-6 button:focus {
  background-color: #de093f;
}

.c-6 :hover {
  cursor: pointer;
  color: #fff;
  background-color: #f62459;
}

.c-6 :hover .fa-inverse {
  color: #f62459 !important;
  background-color: #fff;
}

.c-6 :hover button {
  color: #f62459;
  background-color: #fff;
}

.c-7 .fa-inverse {
  border-radius: 50%;
  width: 65px;
  height: 65px;
  font-size: 30px;
  line-height: 65px;
  translate: 10px 0;
  color: #fff;
  background-color: #ce4125;
}

.c-7 button {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #ce4125;
  color: #fff;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
}

.c-7 button:hover, .c-7 button:focus {
  background-color: #a3331d;
}

.c-7 :hover {
  cursor: pointer;
  color: #fff;
  background-color: #ce4125;
}

.c-7 :hover .fa-inverse {
  color: #ce4125 !important;
  background-color: #fff;
}

.c-7 :hover button {
  color: #ce4125;
  background-color: #fff;
}

.user {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
  display: table;
}

.user .avatar {
  display: table-cell;
  vertical-align: middle;
}

.user .avatar img {
  border-radius: 100%;
}

.user .user-info {
  padding-left: 20px;
  line-height: 1.375rem;
  display: table-cell;
  vertical-align: middle;
}

.card-text {
  min-height: 120px;
  font-size: 14px;
}

.card-title {
  min-height: 60px;
}

.news-tag {
  position: absolute;
  top: 10px;
  right: 0;
  text-align: end;
  z-index: 1;
}

.news-tag small {
  font-size: small;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  padding: 0 10px;
}

.news-tag .t-1,
.news-tag .t-3 {
  background-color: #67809f;
}

.news-tag .t-2 {
  background-color: #2ecc71;
}

.n-1 h5 {
  color: #67809f;
  font-weight: 700;
}

.n-2 h5 {
  color: #2ecc71;
  font-weight: 700;
}

.n-3 h5 {
  color: #67809f;
  font-weight: 700;
}

.n-1,
.n-2,
.n-3 {
  border-radius: 0 0 3px 3px;
}

.n-1:hover,
.n-2:hover,
.n-3:hover {
  cursor: pointer;
  top: -10px;
  transition: 0.5s ease-in-out;
}

@media (min-width: 768px) {
  .n-3 {
    display: none;
  }
}

@media (min-width: 1200px) {
  .n-3 {
    display: block;
  }
}

@media (max-width: 768px) {
  .top-view {
    display: none;
  }
  .bottom-view {
    display: block;
  }
}

.tns-outer button {
  display: none;
}

.hero-image-1 {
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0.178), #000), url("../images/hero-images/hi1.jpg");
  height: 510px;
  background-size: cover;
  width: 100vw;
}

.hero-image-1 button {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #67809f;
  color: #fff;
  padding: 10px 20px 30px;
  vertical-align: middle;
}

.hero-image-1 button:hover, .hero-image-1 button:focus {
  background-color: #526781;
}

.hero-image-2 {
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0.178), #000), url("../images/hero-images/hi2.jpg");
  height: 510px;
  background-size: cover;
  width: 100vw;
}

.hero-image-2 button {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #67809f;
  color: #fff;
  padding: 10px 20px 30px;
  vertical-align: middle;
}

.hero-image-2 button:hover, .hero-image-2 button:focus {
  background-color: #526781;
}

.hero-image-3 {
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0.178), #000), url("../images/hero-images/hi3.jpg");
  height: 510px;
  background-size: cover;
  width: 100vw;
}

.hero-image-3 button {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #4183d7;
  color: #fff;
  padding: 10px 20px 30px;
  vertical-align: middle;
}

.hero-image-3 button:hover, .hero-image-3 button:focus {
  background-color: #286abd;
}

.hero-image-4 {
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0.178), #000), url("../images/hero-images/hi4.jpg");
  height: 510px;
  background-size: cover;
  width: 100vw;
}

.hero-image-4 button {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #2ecc71;
  color: #fff;
  padding: 10px 20px 30px;
  vertical-align: middle;
}

.hero-image-4 button:hover, .hero-image-4 button:focus {
  background-color: #25a25a;
}

.hero-image-5 {
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0.178), #000), url("../images/hero-images/hi5.jpg");
  height: 510px;
  background-size: cover;
  width: 100vw;
}

.hero-image-5 button {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #d64541;
  color: #fff;
  padding: 10px 20px 30px;
  vertical-align: middle;
}

.hero-image-5 button:hover, .hero-image-5 button:focus {
  background-color: #bc2c28;
}

.hero-image-6 {
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0.178), #000), url("../images/hero-images/hi6.jpg");
  height: 510px;
  background-size: cover;
  width: 100vw;
}

.hero-image-6 button {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #926fb1;
  color: #fff;
  padding: 10px 20px 30px;
  vertical-align: middle;
}

.hero-image-6 button:hover, .hero-image-6 button:focus {
  background-color: #79539a;
}

.hero-image-7 {
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0.178), #000), url("../images/hero-images/hi7.jpg");
  height: 510px;
  background-size: cover;
  width: 100vw;
}

.hero-image-7 button {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #f62459;
  color: #fff;
  padding: 10px 20px 30px;
  vertical-align: middle;
}

.hero-image-7 button:hover, .hero-image-7 button:focus {
  background-color: #de093f;
}

.hero-text {
  text-align: center;
  user-select: none;
}

.hero-text button {
  display: inline-block !important;
  margin-top: 10px !important;
  max-width: 200px;
}

@media (min-width: 992px) {
  .hero-text button {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .hero-text {
    padding-left: 250px;
  }
}

@media (min-width: 992px) {
  .hero-text {
    text-align: start;
  }
}

.hero-flex-wrap {
  display: flex !important;
  min-width: 100vw;
  align-items: center;
  left: 10px;
}

.partner-slides {
  user-select: none;
}

.partner-slides .h-image {
  width: 100vw;
}

.review {
  position: relative;
  color: #fff;
  font-weight: 400;
  line-height: 30px;
}

.review::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100vw;
  background-color: #333645;
  z-index: -1;
}

.review a {
  color: #fff;
}

.review a:hover {
  color: #fff;
}

.quote {
  font-size: larger;
  font-style: italic;
  font-weight: 700;
}

.quote-author {
  font-weight: 700;
  font-size: large;
  color: #999aa5;
  margin-bottom: 50px;
}

.stars {
  color: orange;
}

.newsletter {
  position: relative;
  display: flex;
  flex-direction: column;
}

.newsletter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100vw;
  background: #ddd;
  z-index: -1;
}

.newsletter a {
  color: #fff;
}

.newsletter h2 {
  font-weight: 400;
}

.newsletter input:focus {
  box-shadow: 10px -10px 10px -10px #96e2e3;
}

.form-check .news-check {
  border: solid 3px #333645;
  font-size: 30px;
  float: none;
  background-color: none;
  border-radius: 3px;
  margin-right: 10px;
}

.required::after {
  content: " *";
  color: red;
}

footer {
  font-size: small;
  position: relative;
  color: #fff;
  background-color: #333645;
  padding: 2em;
}

footer a {
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
}

footer a:hover {
  cursor: pointer;
  color: #fff;
  text-decoration: underline;
}

footer h5 {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer-list {
  margin: 0;
  padding: 0;
}

.bottom {
  margin-bottom: 50px;
}

@media (max-width: 576px) {
  footer {
    font-size: smaller;
  }
}

.fa-facebook-f {
  padding: 10px;
}

.fa-facebook-f:hover {
  background-color: #3b5998;
  border-radius: 100%;
}

.fa-twitter {
  padding: 10px;
}

.fa-twitter:hover {
  background-color: #1da1f2;
  border-radius: 100%;
}

.fa-instagram {
  padding: 10px;
}

.fa-instagram:hover {
  background-color: #e1306c;
  border-radius: 100%;
}

.fa-linkedin-in {
  padding: 10px;
}

.fa-linkedin-in:hover {
  background-color: #0078c7;
  border-radius: 100%;
}

.container .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100vh;
  width: 70%;
  background: #333645;
  overflow: auto;
}

.container .sidebar .mobile {
  padding-bottom: 20px;
}

@media (min-width: 1200px) {
  .container .sidebar .mobile {
    display: none;
  }
}

.container .sidebar .mobile-head {
  color: #fff;
  background-color: #333645;
  text-align: center;
  font-size: larger;
  margin: 20px;
  padding: 20px 10px;
  text-transform: uppercase;
  outline: 1px solid rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.container .sidebar .mobile-list {
  color: #fff;
  background-color: #272936;
  margin: 0px 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: large;
  overflow: auto;
}

.container .sidebar ul {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0;
  margin: 0;
}

.container .sidebar ul li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.container .sidebar a {
  display: block;
  color: #fff;
  padding: 20px;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  line-height: 1;
  position: relative;
}

.container .sidebar a:hover {
  color: #fff;
  text-decoration: none;
}

.container .sidebar::before,
.container .sidebar ::after {
  box-sizing: border-box;
}

.container .sidebar .head-text {
  background-color: #3e4154;
}

.container .sidebar .second-text::before {
  content: "\BB";
  padding-right: 15px;
}

@media (min-width: 576px) {
  .container .sidebar {
    width: 45%;
  }
}

@media (min-width: 768px) {
  .container .sidebar {
    width: 40%;
  }
}

@media (min-width: 1200px) {
  .container .sidebar {
    width: 20%;
  }
}

.side-head:hover .head-text {
  background-color: #494d62;
}

@media (min-width: 992px) {
  .sidebar {
    width: 350px;
  }
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}

.move-body {
  margin-right: 20%;
}

.cookie-popup {
  background-color: #fff;
  display: none;
  color: black;
  position: fixed;
  z-index: 100;
  top: 25%;
  left: 0;
  border-radius: 5px;
  max-width: 100%;
  border: solid 1px lightgrey;
}

.cookie-popup h3 {
  border-bottom: solid 1px lightgray;
  padding: 20px;
  margin-bottom: 10px;
}

.cookie-popup p {
  color: grey;
  border-bottom: solid 1px lightgrey;
  padding: 10px 20px 40px;
}

@media (min-width: 768px) {
  .cookie-popup {
    left: 15vw;
    max-width: 70%;
  }
}

@media (min-width: 992px) {
  .cookie-popup {
    left: 25%;
    max-width: 50vw;
  }
}

@media (min-width: 1200px) {
  .cookie-popup {
    left: 35%;
    max-width: 30%;
  }
}

.cookie-buttons {
  display: flex;
  justify-content: center;
}

.cookie-buttons button {
  margin: 10px 30px;
}

.cookie-buttons .settings {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #67809f;
  color: #fff;
}

.cookie-buttons .settings:hover, .cookie-buttons .settings:focus {
  background-color: #526781;
}

.cookie-buttons .accept {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #926fb1;
  color: #fff;
}

.cookie-buttons .accept:hover, .cookie-buttons .accept:focus {
  background-color: #79539a;
}

#cookie-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}

#cookie-settings {
  top: 0;
  display: flex;
  justify-content: center;
  font-size: small;
  bottom: 0;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fff;
  z-index: 9999;
}

#cookie-settings li {
  list-style: disc;
}

.settings-wrapper {
  display: flex;
  flex-direction: column;
}

.settings-btn-1 {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #67809f;
  color: #fff;
}

.settings-btn-1:hover, .settings-btn-1:focus {
  background-color: #526781;
}

.settings-btn-2 {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #926fb1;
  color: #fff;
}

.settings-btn-2:hover, .settings-btn-2:focus {
  background-color: #79539a;
}

.details-btn {
  justify-content: start;
}

@media (min-width: 576px) {
  .details-btn {
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .details-btn {
    max-width: 25%;
  }
}

.settings-bot-btns {
  display: flex;
  justify-content: end;
  margin: 20px 0;
  column-gap: 5px;
  padding-bottom: 30px;
}

.buttons {
  margin-right: auto;
  width: 100%;
  margin: 10px 0;
  column-gap: 5px;
  display: flex;
  justify-content: end;
}

.active-btn {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #926fb1;
  color: #fff;
}

.active-btn:hover, .active-btn:focus {
  background-color: #79539a;
}

.inactive-btn {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #fff;
  color: #fff;
  color: lightgray;
  border: 1px solid lightgray;
}

.inactive-btn:hover, .inactive-btn:focus {
  background-color: #e6e6e6;
}

#detailed-preferences {
  margin: 30px 0;
  display: none;
  transition: all 300ms ease-in-out;
  font-size: 1.25em;
}

thead {
  background-color: #67809f;
  color: #fff;
}

thead td {
  padding: 20px;
  border: 1px solid #fff;
}

tbody {
  background-color: lightgray;
}

tbody td {
  padding: 10px;
  border: 1px solid #fff;
}

.expanded a {
  margin-right: 5px;
  margin-left: 5px;
}

.expanded a:hover {
  text-decoration: none;
  color: #fff;
}

.pointer {
  cursor: pointer;
}

.row-active {
  display: table-cell;
}

.row-disabled {
  display: none;
}

.no-scroll {
  height: 100%;
  overflow-y: hidden;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.spt {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #4183d7;
  color: #fff;
  padding: 10px 20px;
  max-height: 55px;
  margin-right: 10px;
  display: none;
}

.spt:hover, .spt:focus {
  background-color: #286abd;
}

@media (min-width: 992px) {
  .spt {
    display: inline;
  }
}

.cont {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #999aa5;
  color: #fff;
  padding: 10px 20px;
  max-height: 55px;
  margin-right: 10px;
  display: none;
}

.cont:hover, .cont:focus {
  background-color: #7e7f8d;
}

@media (min-width: 992px) {
  .cont {
    display: inline;
  }
}

.search-btn {
  outline: none;
  padding: 15px 20px 3px;
  height: 56px;
  line-height: 5px;
  font-size: 1.7rem;
  border: none;
  vertical-align: middle;
  background-color: #999aa5;
  color: #fff;
  display: none;
}

@media (min-width: 768px) {
  .search-btn {
    display: inline;
    border-radius: 3px;
  }
}

@media (min-width: 1200px) {
  .search-btn {
    border-radius: 0 3px 3px 0;
  }
}

.search-btn:hover, .search-btn:focus {
  background-color: #7e7f8d;
}

#search-mobile button {
  position: relative !important;
  padding: 0 20px;
}

.util-btns {
  translate: 0 5px;
}

.phone-btn {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #fff;
  color: #fff;
  color: #272936;
  font-size: 32px;
  padding-right: 25px;
}

.phone-btn:hover, .phone-btn:focus {
  background-color: #e6e6e6;
}

@media (min-width: 768px) {
  .phone-btn {
    display: none;
  }
}

.hamburger {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #333645;
  color: #fff;
  justify-content: end;
}

.hamburger:hover, .hamburger:focus {
  background-color: #1d1f28;
}

@media (min-width: 768px) {
  .hamburger {
    padding: 12px;
  }
}

.read-more {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #272936;
  color: #fff;
  width: 200px;
  height: 60px;
}

.read-more:hover, .read-more:focus {
  background-color: #121318;
}

.g-reviews {
  margin-right: 15px;
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #4183d7;
  color: #fff;
  width: 250px;
  height: 60px;
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #4183d7;
  color: #fff;
}

.g-reviews:hover, .g-reviews:focus {
  background-color: #286abd;
}

.g-reviews:hover, .g-reviews:focus {
  background-color: #286abd;
}

.t-reviews {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #2ecc71;
  color: #fff;
  width: 250px;
  height: 60px;
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #2ecc71;
  color: #fff;
  margin-top: 15px;
}

.t-reviews:hover, .t-reviews:focus {
  background-color: #25a25a;
}

.t-reviews:hover, .t-reviews:focus {
  background-color: #25a25a;
}

.n-btn-1,
.n-btn-3 {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #67809f;
  color: #fff;
  padding: 8px;
  max-width: 130px;
}

.n-btn-1:hover, .n-btn-1:focus,
.n-btn-3:hover,
.n-btn-3:focus {
  background-color: #526781;
}

.n-btn-2 {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #2ecc71;
  color: #fff;
  padding: 8px;
  max-width: 130px;
}

.n-btn-2:hover, .n-btn-2:focus {
  background-color: #25a25a;
}

.newsletter button {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: #333645;
  color: #fff;
}

.newsletter button:hover, .newsletter button:focus {
  background-color: #1d1f28;
}

.form-control {
  height: 50px;
  border-radius: 2px;
}

.sponsors-list {
  display: flex;
  user-select: none;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 10px;
  flex-direction: row;
  text-align: center;
}

.coloured {
  display: none;
}

.sponsors-list .sponsor {
  flex-grow: 1;
  padding: 0 20px;
  position: relative;
  height: auto;
}

@media (max-width: 768px) {
  .carousel-list img,
  .sponsor {
    display: none;
  }
}

.nav {
  background-color: #fff;
}

.nav-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sticky-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 7;
  transition: all 300ms ease-in-out;
}

.scroll-down header {
  transform: translate3d(0, -100%, 0);
}

@media (min-width: 1200px) {
  header .container {
    display: flex;
  }
}

.inner-row {
  display: flex;
  flex-direction: row;
}

.inner {
  padding: 20px;
  background-color: #fff;
}

header #search-desktop {
  display: none;
}

@media (min-width: 992px) {
  header #search-desktop {
    display: block;
    border-radius: 3px;
  }
}

.col-xs-3 {
  display: flex;
  flex-direction: row;
}

.actions {
  padding: 7px 0;
}

#search-desktop {
  justify-content: end;
  translate: 0 5px;
}

@media (min-width: 1200px) {
  #search-desktop {
    border-radius: 0 5px 5px 0;
    border: 1px solid gray;
    line-height: 50px;
    padding-left: 20px;
    box-shadow: inset 0 3px 35px rgba(0, 0, 0, 0.1);
  }
}

#search-mobile {
  border: 1px solid gray;
  line-height: 50px;
  padding-left: 20px;
  box-shadow: inset 0 3px 35px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

@media (min-width: 992px) {
  #search-mobile {
    display: none;
  }
}

.search-bar {
  border-radius: 5px 0 0 5px;
  display: none;
}

@media (min-width: 1200px) {
  .search-bar {
    display: inline;
  }
}

.m-search-bar {
  width: 100%;
}

.outer-row {
  background-color: #333645;
  color: #fff;
}

@media (max-width: 576px) {
  .inner-row {
    display: table;
  }
  header .col-xs-4 {
    display: table-cell;
    table-layout: fixed;
  }
  .util-btns {
    display: table-cell;
    padding: 0%;
  }
}

.navbar-nav {
  display: none;
  text-transform: uppercase;
}

.navbar-nav li a {
  color: #fff;
}

.navbar-nav li a .fa-box-open {
  color: #67809f;
}

.navbar-nav li a .fa-desktop {
  color: #4183d7;
}

.navbar-nav li a .fa-chart-simple {
  color: #2ecc71;
}

.navbar-nav li a .fa-phone {
  color: #d64541;
}

.navbar-nav li a .fa-code {
  color: #926fb1;
}

.navbar-nav li a .fa-shield-halved {
  color: #f62459;
}

.navbar-nav li a .fa-graduation-cap {
  color: #ce4125;
}

@media (min-width: 992px) {
  .navbar-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    text-align: center;
  }
  .navbar-nav li {
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .navbar-nav li {
    padding: 20px 50px;
  }
  .navbar-nav li:hover {
    padding-bottom: 0px;
  }
}

.nav-bes:hover {
  background-color: #778da9;
}

.nav-bes:hover a i {
  color: #fff;
}

.nav-bes:hover .banner-bes {
  display: flex;
}

.nav-sup:hover {
  background-color: #5691db;
}

.nav-sup:hover a i {
  color: #fff;
}

.nav-sup:hover .banner-sup {
  display: flex;
}

.nav-dig:hover {
  background-color: #40d47e;
}

.nav-dig:hover a i {
  color: #fff;
}

.nav-dig:hover .banner-dig {
  display: flex;
}

.nav-tel:hover {
  background-color: #db5a56;
}

.nav-tel:hover a i {
  color: #fff;
}

.nav-tel:hover .banner-tel {
  display: flex;
}

.nav-web:hover {
  background-color: #9f80ba;
}

.nav-web:hover a i {
  color: #fff;
}

.nav-web:hover .banner-web {
  display: flex;
}

.nav-sec:hover {
  background-color: #f73c6c;
}

.nav-sec:hover a i {
  color: #fff;
}

.nav-sec:hover .banner-sec {
  display: flex;
}

.nav-dev:hover {
  background-color: #da4e32;
}

.nav-dev:hover a i {
  color: #fff;
}

.nav-dev:hover .banner-dev {
  display: flex;
}

.banner-bes {
  display: none;
  width: 100vw;
  left: 0%;
  position: absolute;
  margin-top: 20px;
  padding: 50px;
  background-color: #67809f;
  text-transform: none;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-bes h2 {
  align-self: flex-start;
  margin-left: 250px;
}

.banner-bes div {
  column-gap: 75px;
  font-size: larger;
  display: flex;
}

.banner-sup {
  display: none;
  width: 100vw;
  left: 0%;
  position: absolute;
  margin-top: 20px;
  padding: 50px;
  background-color: #4183d7;
  text-transform: none;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-sup h2 {
  align-self: flex-start;
  margin-left: 250px;
}

.banner-sup div {
  column-gap: 75px;
  font-size: larger;
  display: flex;
}

.banner-dig {
  display: none;
  width: 100vw;
  left: 0%;
  position: absolute;
  margin-top: 20px;
  padding: 50px;
  background-color: #2ecc71;
  text-transform: none;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-dig h2 {
  align-self: flex-start;
  margin-left: 250px;
}

.banner-dig div {
  column-gap: 75px;
  font-size: larger;
  display: flex;
}

.banner-tel {
  display: none;
  width: 100vw;
  left: 0%;
  position: absolute;
  margin-top: 20px;
  padding: 50px;
  background-color: #d64541;
  text-transform: none;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-tel h2 {
  align-self: flex-start;
  margin-left: 250px;
}

.banner-tel div {
  column-gap: 75px;
  font-size: larger;
  display: flex;
}

.banner-web {
  display: none;
  width: 100vw;
  left: 0%;
  position: absolute;
  margin-top: 20px;
  padding: 50px;
  background-color: #926fb1;
  text-transform: none;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-web h2 {
  align-self: flex-start;
  margin-left: 250px;
}

.banner-web div {
  column-gap: 75px;
  font-size: larger;
  display: flex;
}

.banner-sec {
  display: none;
  width: 100vw;
  left: 0%;
  position: absolute;
  margin-top: 20px;
  padding: 50px;
  background-color: #f62459;
  text-transform: none;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-sec h2 {
  align-self: flex-start;
  margin-left: 250px;
}

.banner-sec div {
  column-gap: 75px;
  font-size: larger;
  display: flex;
}

.banner-dev {
  display: none;
  width: 100vw;
  left: 0%;
  position: absolute;
  margin-top: 20px;
  padding: 50px;
  background-color: #ce4125;
  text-transform: none;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-dev h2 {
  align-self: flex-start;
  margin-left: 250px;
}

.banner-dev div {
  column-gap: 75px;
  font-size: larger;
  display: flex;
}
