// - Mixins ---------- //

@mixin hero-image($image) {
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0.178), #000),
    url($image);
  height: 510px;
  background-size: cover;
  width: 100vw;
}

@mixin box-style {
  background-color: #fff;
  border: $color-secondary 0.2px solid;
  box-shadow: $card-shadow;
}

@mixin fixed-section {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 100vw;
}

@mixin button-default($color) {
  height: auto;
  user-select: none;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  border: none;
  background-color: $color;
  color: #fff;
  &:hover,
  &:focus {
    background-color: darken($color, 10%);
  }
}

@mixin rounded($size) {
  border-radius: 50%;
  width: $size;
  height: $size;
  @content;
}

@mixin b-box {
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

@mixin media-query($break) {
  @if $break == "small" {
    @media (min-width: $bpoint-sm) {
      @content;
    }
  } @else if $break == "medium" {
    @media (min-width: $bpoint-md) {
      @content;
    }
  } @else if $break == "large" {
    @media (min-width: $bpoint-lg) {
      @content;
    }
  } @else if $break == "x-large" {
    @media (min-width: $bpoint-xl) {
      @content;
    }
  } @else {
    @error "NO ARGUMENT VALID FROM $BREAK '#{$break}'";
  }
}
