// - Variables ---------- //

// - Colors ------------- //
$color-primary: #333645;
$color-darker: #272936;
$color-secondary: gray;

$card-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);

// Card Colors //
$c-1-col: #67809f;
$c-2-col: #4183d7;
$c-3-col: #2ecc71;
$c-4-col: #d64541;
$c-5-col: #926fb1;
$c-6-col: #f62459;
$c-7-col: #ce4125;

// - Fonts -------------- //
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
$font-main: "Work Sans", sans-serif;

// - Breakpoints ------- //
$bpoint-sm: 576px;
$bpoint-md: 768px;
$bpoint-lg: 992px;
$bpoint-xl: 1200px;
