.card {
  @include box-style;
  text-align: center;
}

// - Service Card Mixin -------------- //

@mixin card-hover-default($color) {
  .fa-inverse {
    @include rounded(65px);
    font-size: 30px;
    line-height: 65px;
    translate: 10px 0;
    color: #fff;
    background-color: $color;
  }
  button {
    @include button-default($color);
  }
  :hover {
    cursor: pointer;
    color: #fff;
    background-color: $color;

    .fa-inverse {
      color: $color !important;
      background-color: #fff;
    }
    button {
      color: $color;
      background-color: #fff;
    }
  }
}
// - !Service Card Mixin ------------- //

// - Service Cards ------------------ //
.c-1 {
  @include card-hover-default($c-1-col);
}
.c-2 {
  @include card-hover-default($c-2-col);
}
.c-3 {
  @include card-hover-default($c-3-col);
}
.c-4 {
  @include card-hover-default($c-4-col);
}
.c-5 {
  @include card-hover-default($c-5-col);
}
.c-6 {
  @include card-hover-default($c-6-col);
}
.c-7 {
  @include card-hover-default($c-7-col);
}
// - !Service Cards ----------------- //

// - Latest News Cards -- //

.user {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
  display: table;
  .avatar {
    display: table-cell;
    vertical-align: middle;
  }
  .user-info {
    padding-left: 20px;
    line-height: 1.375rem;
    display: table-cell;
    vertical-align: middle;
  }
}

.n-1,
.n-2,
.n-3 {
  border-radius: 6px 6px 0 0;
  &:hover {
    cursor: pointer;
    top: -10px;
    transition: 0.5s;
  }
}
