// - Hero Image ---------- //

.hero-image {
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0.178), #000),
    url("../../images/hero-image.jpg");
  height: 500px;
  background-size: cover;
}

.hero-text {
  text-align: center;
}

@media (max-width: $bpoint-lg) {
  .hero-text .cont {
    display: inline;
  }
}

@media (min-width: $bpoint-lg) {
  .hero-text {
    text-align: start;
    position: absolute;
  }
}

@media (min-width: $bpoint-xl) {
  .hero-text {
    padding-left: 200px;
  }
}

// - Review -------------- //

.review {
  position: relative;
  color: #fff;
  &::before {
    @include fixed-section;
    background-color: $color-primary;
    z-index: -1;
  }
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

.stars {
  color: orange;
}

// - Newsletter ------- //

.newsletter {
  position: relative;
  &::before {
    @include fixed-section;
    background: #ddd;
    z-index: -1;
  }
  a {
    color: #fff;
  }
}

label .required::after {
  content: " *";
  color: red;
}
