// - Hero Image ---------- //

.hero-image {
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0.178), #000),
    url("https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-oaVs.jpg");
  height: 510px;
  background-size: cover;
}

.hero-text {
  text-align: center;
  button {
    display: inline-block !important;
    margin-top: 10px !important;
    @include media-query("large") {
      margin-top: 40px !important;
    }
  }
  @include media-query("x-large") {
    padding-left: 200px;
  }
  @include media-query("large") {
    text-align: start;
    position: absolute;
  }
}

// - Review -------------- //

.review {
  position: relative;
  color: #fff;
  &::before {
    @include fixed-section;
    background-color: $color-primary;
    z-index: -1;
  }
  a {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}

.stars {
  color: orange;
}

// - Newsletter ------- //

.newsletter {
  position: relative;
  &::before {
    @include fixed-section;
    background: #ddd;
    z-index: -1;
  }
  a {
    color: #fff;
  }
}

label .required::after {
  content: " *";
  color: red;
}
