.newsletter {
  position: relative;
}

.newsletter:before {
  @include fixed-section;
  background: #ddd;
  z-index: -1;
}

.review {
  position: relative;
  color: #ddd;
}

.review::before {
  @include fixed-section;
  background-color: #333645;
  z-index: -1;
}
