footer {
  position: relative;
  color: #fff;
  background-color: #333645;
  padding: 2em;
  a {
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding: 0;
    &:hover {
      cursor: pointer;
      color: #fff;
      text-decoration: underline;
    }
  }
  h5 {
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}

.footer-list {
  margin: 0;
  padding: 0;
}

@media (max-width: $bpoint-sm) {
  footer {
    font-size: smaller;
  }
}
