footer {
  font-size: small;
  position: relative;
  color: #fff;
  background-color: #333645;
  padding: 2em;
  a {
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding: 0;
    &:hover {
      cursor: pointer;
      color: #fff;
      text-decoration: underline;
    }
  }
  h5 {
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}

.footer-list {
  margin: 0;
  padding: 0;
}

.bottom {
  margin-bottom: 50px;
}

@media (max-width: $bpoint-sm) {
  footer {
    font-size: smaller;
  }
}

.fa-facebook-f {
  padding: 10px;
  &:hover {
    background-color: #3b5998;
    border-radius: 100%;
  }
}
.fa-twitter {
  padding: 10px;
  &:hover {
    background-color: #1da1f2;
    border-radius: 100%;
  }
}
.fa-instagram {
  padding: 10px;
  &:hover {
    background-color: #e1306c;
    border-radius: 100%;
  }
}
.fa-linkedin-in {
  padding: 10px;
  &:hover {
    background-color: #0078c7;
    border-radius: 100%;
  }
}
