footer {
  position: relative;
  color: #fff;
  background-color: #333645;
  padding: 2em;
}

footer:before {
  @include fixed-section;
}

.footer-list a {
  text-decoration: none;
  color: #fff;
  margin: 0;
  padding: 0;
}

.footer-list a:hover {
  cursor: pointer;
  text-decoration: underline;
}
