.hero-image {
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0.178), #000),
    url("../../images/hero-image.jpg");
  height: 60vh;
  background-size: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-85%, -50%);
}
