// - Buttons ---------- //

// - Navbar ---------- //

@mixin nav-btns($color) {
  @include button-default($color);
  border-radius: 2px;
  padding: 10px 20px;
}

.spt {
  @include nav-btns($c-2-col);
}

.cont {
  @include nav-btns($c-1-col);
}

.search-bar {
  border-radius: 5px 0 0 5px;
}

.search-btn {
  outline: none;
  padding: 15px 20px 3px;
  height: 56px;
  font-size: 1.7rem;
  line-height: 5px;
  border-radius: 0 3px 3px 0;
  border: none;
  vertical-align: bottom;
  background-color: $c-1-col;
  color: #fff;
}

.util-btns {
  justify-content: end;
}

.phone-btn {
  @include button-default(#fff);
  color: $color-darker;
  font-size: 32px;
  padding-right: 25px;
}

.hamburger {
  @include button-default($color-primary);
}

// .util-btns {
//   float: right;
//   position: absolute;
//   right: 250px;
// }

// - Reviews --------- //

.read-more {
  @include button-default($color-darker);
  width: 200px;
  height: 60px;
}

@mixin review-btns($color) {
  @include button-default($color);
  width: 250px;
  height: 60px;
  @include button-default($color);
}

.g-reviews {
  margin-right: 15px;
  @include review-btns($c-2-col);
}

.t-reviews {
  @include review-btns($c-3-col);
}

// - News ---------- //

.n-1 button,
.n-3 button {
  @include button-default($c-1-col);
}

.n-2 button {
  @include button-default($c-3-col);
}

.newsletter button {
  @include button-default($color-primary);
}

// - Forms ----------- .//

.form-control {
  height: 50px;
}

// - Media Queries --- //

@media (min-width: $bpoint-md) {
  .hamburger {
    padding: 10px 20px;
  }
}
