// - Buttons ---------- //

header button {
  @include button-default;
  background-color: $c-1-col;
  width: 200px;
  height: 60px;
  &:hover,
  &:focus {
    background-color: darken($c-1-col, 10%);
  }
}

.read-more {
  @include button-default;
  background-color: $color-darker;
  width: 200px;
  height: 60px;
  &:hover,
  &:focus {
    background-color: darken($color-darker, 10%);
  }
}

.g-reviews {
  @include button-default;
  background-color: $c-2-col;
  width: 250px;
  height: 60px;
  margin-right: 15px;
  &:hover,
  &:focus {
    background-color: darken($c-2-col, 10%);
  }
}

.t-reviews {
  @include button-default;
  background-color: $c-3-col;
  width: 250px;
  height: 60px;
  &:hover,
  &:focus {
    background-color: darken($c-3-col, 10%);
  }
}

.newsletter button {
  @include button-default;
  background-color: $color-primary;
  &:hover,
  &:focus {
    background-color: darken($color-primary, 10%);
  }
}

// - Input Bars ------- //

.form-control {
  border-radius: 0%;
}
