// - Buttons ---------- //

.spt {
  @include button-default;
  background-color: $c-2-col;
  border-radius: 2px;
}

.cont {
  @include button-default;
  background-color: $c-1-col;
  border-radius: 2px;
}

.search-bar {
  border-radius: 5px 0 0 5px;
}

.search-btn {
  outline: none;
  padding: 15px 20px 3px;
  height: 56px;
  font-size: 1.7rem;
  border-radius: 0 3px 3px 0;
  border: none;
  vertical-align: bottom;
  background-color: $c-1-col;
  color: #fff;
}

header button {
  @include button-default;
  background-color: $c-1-col;
  width: 200px;
  height: 60px;
  &:hover,
  &:focus {
    background-color: darken($c-1-col, 10%);
  }
}

.read-more {
  @include button-default;
  background-color: $color-darker;
  width: 200px;
  height: 60px;
  &:hover,
  &:focus {
    background-color: darken($color-darker, 10%);
  }
}

.g-reviews {
  @include button-default;
  background-color: $c-2-col;
  width: 250px;
  height: 60px;
  margin-right: 15px;
  &:hover,
  &:focus {
    background-color: darken($c-2-col, 10%);
  }
}

.t-reviews {
  @include button-default;
  background-color: $c-3-col;
  width: 250px;
  height: 60px;
  &:hover,
  &:focus {
    background-color: darken($c-3-col, 10%);
  }
}

.n-1 button {
  @include button-default;
  background-color: $c-1-col;
}

.n-2 button {
  @include button-default;
  background-color: $c-3-col;
}

.n-3 button {
  @include button-default;
  background-color: $c-1-col;
}

.newsletter button {
  @include button-default;
  @include b-box;
  background-color: $color-primary;
}

// - Forms ----------- .//

.form-control {
  height: 50px;
}

// - Media Queries --- //

@media (min-width: 1260px) {
  .form-control {
    display: inline-block !important;
    border-radius: 0;
    width: 240px;
  }
}
