// - Sponsor Logos ---------- //

cms-block {
  @include b-box;
}

.sponsors-list {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 10px;
  flex-direction: row;
  text-align: center;
  @include b-box;
}

.coloured {
  display: none;
}

.sponsors-list .sponsor {
  flex-grow: 1;
  padding: 0 20px;
  position: relative;
  height: auto;
}

// - Media Queries --------- //
@media (max-width: $bpoint-md) {
  .carousel-list img,
  .sponsor {
    display: none;
  }
}
