.nav {
  background-color: #fff;
}

.inner-row {
  margin-left: -15px;
  margin-right: -15px;
}

nav .col-lg-4 {
  width: 33.33333333%;
}

.inner {
  padding: 20px 0;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.logo-container {
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

.actions {
  float: right;
  padding: 7px 0;
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
