.nav {
  background-color: #fff;
}

nav .col-lg-4 {
  width: 33.33333333%;
}

.inner-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.inner {
  padding: 30px 300px;
}

.actions {
  float: right;
  padding: 7px 0;
}

.form-inline {
  float: right;
  border: 1px solid $color-secondary;
  border-radius: 0 5px 5px 0;
  line-height: 50px;
  padding-left: 20px;
  box-shadow: inset $card-shadow;
}

.outer-row {
  background-color: $color-primary;
  color: #fff;
}

.navbar-nav {
  flex-grow: 1;
  text-transform: uppercase;
}

// - Media Queries ---------- //

@media (min-width: $bpoint-lg) {
  .navbar-nav {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    padding: 20px;
  }
}
