.nav {
  background-color: #fff;
}

header .container {
  @include media-query("x-large") {
    display: flex;
  }
}

.inner-row {
  display: flex;
  flex-direction: row;
}

.inner {
  padding: 20px !important;
  margin: 0% !important;
  @include media-query(large) {
    padding: 30px 300px;
  }
}

header #search-desktop {
  display: none;
  @include media-query(large) {
    display: block;
    border-radius: 3px;
  }
}

.col-xs-3 {
  display: flex;
  flex-direction: row;
}

.actions {
  padding: 7px 0;
}

@mixin search-style {
  border: 1px solid $color-secondary;
  line-height: 50px;
  padding-left: 20px;
  box-shadow: inset $card-shadow;
}

#search-desktop {
  justify-content: end;
  translate: 0 5px;
  @include media-query(x-large) {
    border-radius: 0 5px 5px 0;
    @include search-style;
  }
}

#search-mobile {
  @include search-style;
  margin-top: 1rem;
  @include media-query(medium) {
  }
  @include media-query(large) {
    display: none;
  }
}

.search-bar {
  border-radius: 5px 0 0 5px;
  display: none;
  @include media-query(x-large) {
    display: inline;
  }
}

.m-search-bar {
  width: 100%;
}

.outer-row {
  background-color: $color-primary;
  color: #fff;
}

@media (max-width: $bpoint-sm) {
  .inner-row {
    display: table;
  }
  header .col-xs-4 {
    display: table-cell;
    table-layout: fixed;
  }
  .util-btns {
    display: table-cell;
    padding: 0%;
  }
}

.navbar-nav {
  display: none;
  flex-grow: 1;
  text-transform: uppercase;
  li a {
    color: #fff;
    .fa-box-open {
      color: $c-1-col;
    }
    .fa-desktop {
      color: $c-2-col;
    }
    .fa-chart-simple {
      color: $c-3-col;
    }
    .fa-phone {
      color: $c-4-col;
    }
    .fa-code {
      color: $c-5-col;
    }
    .fa-shield-halved {
      color: $c-6-col;
    }
    .fa-graduation-cap {
      color: $c-7-col;
    }
  }
  @include media-query(large) {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    padding: 20px 150px;
  }
}
