// - Base Style Rules ---------- //

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: $font-main;
  font-size: 1rem;
  color: $color-primary;
  letter-spacing: 0.4px;
  line-height: 1.42857143;
}

header {
  margin-top: 0px;
}

.footer-list li {
  list-style: none;
}
