// - Base Style Rules ---------- //
html {
  overflow-x: hidden;
}

body {
  @include b-box;
  font-family: $font-main;
  font-size: 1rem;
  font-weight: 600;
  color: $color-primary;
  letter-spacing: 0.4px;
  line-height: 1.42857143;
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: underline;
      color: black;
    }
    &:focus {
      text-decoration: underline;
      color: black;
    }
  }
}

small {
  font-size: x-small;
}

.footer-list li {
  list-style: none;
}
